html {
  font-size: 62.5%;
}
body {
  color: $main;
  font-family: $font-main;
  line-height: 1.6;
  background: linear-gradient(rgba($white, 0.6), rgba($white, 0.6)),
    url("../images/background.png");
  font-size: 1.6rem;
}
img {
  max-width: 100%;
}
h1 {
  color: $accent;
  line-height: 1;
  font-size: 3rem;
}
h2 {
  margin: 0;
  line-height: 1;
  font-size: 2.5rem;
}
p {
  margin: 1rem 0;
}
button:focus {
  outline: 0;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  margin: 0;
}
