header{
    display: flex;
    align-items:center;
    margin-bottom: 2rem;
}
#logo{
    font-family: $font-accent;
    font-weight: normal;
}
.up-wrap{
    width: 8rem;
    height:8rem;
    margin-left:auto;
    padding:0.2rem;
    border-radius: 100%;
    border:2px solid $accent;
    box-sizing: border-box;
    @include box-shadow(0, 0, 10px, $gray, 2px);

    img{
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        border:2px solid $accent;
        object-fit: cover; 
    }
}
// TODO center profile image